<div class="mb-2">
    <p class="text-center text-secondary footer-text">&copy; 2024 Alexankitty <a href='https://ko-fi.com/Q5Q4IFNAO' target='_blank'><img height='36' style='border:0px;height:36px;vertical-align: bottom;' src='https://storage.ko-fi.com/cdn/kofi5.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a></p>
    <p class="text-center text-secondary footer-text">Not affiliated with Myrient/Erista!</p>
    <div  class="text-center text-secondary footer-text">
    <div id="query-count" class="stats">Number of Queries:</div>
    <div class="stats"> | </div>
    <div id="file-count" class="stats">Known Files:</div>
    <div class="stats"> | </div>
    <div id="term-count" class="stats">Term Count:</div>
    <div class="stats"> | </div>
    <div id="crawl-time" class="stats">Time of Last Crawl:</div>
    </div>
</div>

<script defer>
    function timeConverter(UNIX_timestamp){
    var timestamp = parseInt(UNIX_timestamp)
    var date = new Date(timestamp);
    var options = { hour12: false };
    return date.toLocaleString(options)
    }
    document.getElementById('crawl-time').innerText += ` ${timeConverter('<%= crawlTime %>')}`
    document.getElementById('file-count').innerText += ` ${(<%= fileCount %>).toLocaleString(undefined)}`
    document.getElementById('query-count').innerText += ` ${(<%= queryCount %>).toLocaleString(undefined)}`
    document.getElementById('term-count').innerText += ` ${(<%= termCount %>).toLocaleString(undefined)}`
</script>