<meta charset="UTF-8">
<title>Myrient Search</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>

    html, body {
        height: 100%;
    }
    body{
        padding: 0;
        margin: 0;
        background-color: #1c2020;
        color: #fff!important;
    }
    a {
        color: #FFFFFF;
        text-decoration: none;
    }
    tr:hover td {
        color: #FFFFFF;
        background: #3D4351;
    }
    a:hover {
        text-decoration: underline;
        color: #FFFFFF;
    }
    td {
        webkit-transition: background 300ms ease-in;
        transition-behavior: normal;
        transition-duration: 300ms;
        transition-timing-function: ease-in;
        transition-delay: 0s;
        transition-property: background;
        -moz-transition: background 300ms ease-in;
        -ms-transition: background 300ms ease-in;
        -o-transition: background 300ms ease-in;
        transition: background 300ms ease-in;
        transition-behavior: normal;
        transition-duration: 300ms;
        transition-timing-function: ease-in;
        transition-delay: 0s;
    }
    td a {
        display: block;
    }
    .footer-text{
        margin: 0;
    }
    .selected{
        color: rgb(255, 189, 51)!important;
    }
    .hidden{
        display: none;
    }
    .nav-link:hover, .navbar-brand:hover{
        color: #f0a400!important;
    }
    .nav-link, .navbar-brand{
        transition: all 0.5s;
    }
    .card {
        background-color: #262c2c;
        border: 1px solid rgba(255,255,255,.325)
    }
    .form-control:focus {
        border-color: rgb(255, 189, 51)!important;
        box-shadow: 0 0 0 .2rem rgba(240, 164, 0, .25)!important;
    }
    .form-control {
        background-color: #343a40!important;
        color: #fff!important;
    }
    .page-link {
        background-color: #343a40!important;
        color: rgb(255, 189, 51)!important;
        transition: all 0.5s;
    }
    .page-item.active .page-link {
        border-color: rgb(255, 189, 51)!important;
    }
    .page-link:hover {
        color: #f0a400!important;
        border-color: #f0a400;
    }
    .page-item.disabled .page-link {
        color: #6c757d!important
    }
    .custom-select:focus {
        box-shadow: 0 0 0 .2rem rgba(240, 164, 0, .25)!important;
    }
    </style>