<meta charset="UTF-8">
<title>Myrient Search</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>

    html, body {
        height: 100%;
    }
    body{
        padding: 0;
        margin: 0;
        background-color: #1c2020;
        color: #fff!important;
    }
    </style>