<meta charset="UTF-8">
<!-- HTML Meta Tags -->
<title>Myrient Search</title>
<meta name="description" content="Myrient Search is your go to search engine for searching through publicly available video game collections with the intention of keeping them from becoming lost to time.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://myrientsearch.org">
<meta property="og:type" content="website">
<meta property="og:title" content="Myrient Search">
<meta property="og:description" content="Myrient Search is your go to search engine for searching through publicly available video game collections with the intention of keeping them from becoming lost to time.">
<meta property="og:image" content="https://opengraph.b-cdn.net/production/images/74980e84-25fb-4bb7-af42-243168815200.png?token=9ZpCsjaOVazfMIoiRI_xu28uQkYfDOMdOoGEc4c0KVc&height=630&width=1200&expires=33265501698">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="myrientsearch.org">
<meta property="twitter:url" content="https://myrientsearch.org">
<meta name="twitter:title" content="Myrient Search">
<meta name="twitter:description" content="Myrient Search is your go to search engine for searching through publicly available video game collections with the intention of keeping them from becoming lost to time.">
<meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/74980e84-25fb-4bb7-af42-243168815200.png?token=9ZpCsjaOVazfMIoiRI_xu28uQkYfDOMdOoGEc4c0KVc&height=630&width=1200&expires=33265501698">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
<title>Myrient Search</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>

    html, body {
        height: 100%;
    }
    body{
        padding: 0;
        margin: 0;
        background-color: #1c2020;
        color: #fff!important;
    }
    a {
        color: #FFFFFF;
        text-decoration: none;
    }
    tr:hover td {
        color: #FFFFFF;
        background: #3D4351;
    }
    a:hover {
        text-decoration: underline;
        color: #FFFFFF;
    }
    td {
        webkit-transition: background 300ms ease-in;
        transition-behavior: normal;
        transition-duration: 300ms;
        transition-timing-function: ease-in;
        transition-delay: 0s;
        transition-property: background;
        -moz-transition: background 300ms ease-in;
        -ms-transition: background 300ms ease-in;
        -o-transition: background 300ms ease-in;
        transition: background 300ms ease-in;
        transition-behavior: normal;
        transition-duration: 300ms;
        transition-timing-function: ease-in;
        transition-delay: 0s;
    }
    td a {
        display: block;
    }
    .footer-text{
        margin: 0;
    }
    .selected{
        color: rgb(255, 189, 51)!important;
    }
    .hidden{
        display: none;
    }
    .nav-link:hover, .navbar-brand:hover{
        color: #f0a400!important;
    }
    .nav-link, .navbar-brand{
        transition: all 0.5s;
    }
    .card {
        background-color: #262c2c;
        border: 1px solid rgba(255,255,255,.325)
    }
    .form-control:focus {
        border-color: rgb(255, 189, 51)!important;
        box-shadow: 0 0 0 .2rem rgba(240, 164, 0, .25)!important;
    }
    .form-control {
        background-color: #343a40!important;
        color: #fff!important;
    }
    .page-link {
        background-color: #343a40!important;
        color: rgb(255, 189, 51)!important;
        transition: all 0.5s;
    }
    .page-item.active .page-link {
        border-color: rgb(255, 189, 51)!important;
    }
    .page-link:hover {
        color: #f0a400!important;
        border-color: #f0a400;
    }
    .page-item.disabled .page-link {
        color: #6c757d!important
    }
    .custom-select:focus {
        box-shadow: 0 0 0 .2rem rgba(240, 164, 0, .25)!important;
    }
    .stats {
        display: inline-block;
        color: #6c757d;
        margin-bottom: 5px;
    }
    </style>