<nav class="navbar navbar-expand-sm navbar-light text-white">
    <a class="navbar-brand text-white" href="/">Myrient Search</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="https://github.com/alexankitty/myrient-global-search/">Project Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://myrient.erista.me/donate/">Donate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://myrient.erista.me/">Home</a>
      </li>
    </ul>
  </nav>