<nav class="navbar navbar-expand-sm navbar-light text-white">
    <a class="navbar-brand text-white" href="/">Myrient Search</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="https://github.com/alexankitty/myrient-global-search/">Project Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://myrient.erista.me/donate/">Donate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://myrient.erista.me/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/settings">Settings</a>
      </li>
    </ul>
</nav>

<script defer>
  const aTags = document.querySelectorAll('a')
  aTags.forEach(aTag => {
    if(aTag.getAttribute('href') == window.location.pathname){
      aTag.classList.add('selected')
    }
  })
</script>