<meta charset="UTF-8">
<title>Myrient Search</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>

    html, body {
        height: 100%;
    }
    body{
        padding: 0;
        margin: 0;
        background-color: #1c2020;
        color: #fff!important;
    }
    a {
        color: #FFFFFF;
        text-decoration: none;
    }
    tr:hover td {
        color: #FFFFFF;
        background: #3D4351;
    }
    a:hover {
        text-decoration: underline;
        color: #FFFFFF;
    }
    td {
        webkit-transition: background 300ms ease-in;
        transition-behavior: normal;
        transition-duration: 300ms;
        transition-timing-function: ease-in;
        transition-delay: 0s;
        transition-property: background;
        -moz-transition: background 300ms ease-in;
        -ms-transition: background 300ms ease-in;
        -o-transition: background 300ms ease-in;
        transition: background 300ms ease-in;
        transition-behavior: normal;
        transition-duration: 300ms;
        transition-timing-function: ease-in;
        transition-delay: 0s;
    }
    td a {
        display: block;
    }
    .footer-text{
        margin: 0;
    }
    </style>