<div class="row h-50 w-100 m-0">
    <div class="col-sm-12 my-auto text-center">
        <pre style="font: 20px / 19px monospace; color: white; text-align: center; overflow: hidden;">
<%= generateAsciiArt() %>
                                About
    </pre>
        <div class="card w-auto mx-auto text-center d-inline-block p-3">
            <div class="about-content">
                <h4>About <%= process.env.INSTANCE_NAME || 'Myrient' %> Search</h4>
                <p>A search engine for <a href="https://github.com/alexankitty/myrient-global-search">Myrient</a> -
                    a service by Erista dedicated to video game preservation.</p>
                <p>Myrient offers organized and publicly available video game collections, keeping them from becoming
                    lost to time.</p>
                <p class="text-secondary mb-4">Not affiliated with Myrient/Erista!</p>

                <div class="mb-4">
                    <p>If you like this project, please consider supporting Myrient:</p>
                    <a href="https://myrient.erista.me/donate/" class="btn btn-secondary">Donate to Myrient</a>
                </div>

                <div class="border-top pt-3">
                    <p>Search engine created by <a href="https://github.com/alexankitty">Alexankitty</a></p>
                    <p><a href="https://github.com/alexankitty/myrient-global-search">View project on GitHub</a></p>
                    <a href='https://ko-fi.com/Q5Q4IFNAO' target='_blank'>
                        <img height='36' style='border:0px;height:36px;'
                            src='https://storage.ko-fi.com/cdn/kofi5.png?v=3' alt='Buy Me a Coffee at ko-fi.com' />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>