<div class="row h-50 w-100 m-0">
    <div class="col-sm-12 my-auto">
        <pre style="font: 20px / 19px monospace; color: white; text-align: center; overflow: hidden;">
______  ___              _____            _____ 
___   |/  /____  ___________(_)_____________  /_
__  /|_/ /__  / / /_  ___/_  /_  _ \_  __ \  __/
_  /  / / _  /_/ /_  /   _  / /  __/  / / / /_  
/_/  /_/  _\__, / /_/    /_/  \___//_/ /_/\__/  
          /____/                                
                                Search!
        </pre>
        <div class="text-center text-white">
            <form action="/search">
                <input type="text" style="width: 80%;display: inline;" class="form-control bg-dark text-white mb-2" name="q">
                <div>
                    <button type="submit" class="btn btn-secondary">Myrient Search</button>
                    <button class="btn btn-secondary">I'm Feeling Lucky</button>
                </div>
            </form>
        </div>
    </div>
</div>