<div class="row h-50 w-100 m-0">
    <div class="col-sm-12 my-auto text-center">
        <pre style="font: 20px / 19px monospace; color: white; text-align: center; overflow: hidden;">
______  ___              _____            _____ 
___   |/  /____  ___________(_)_____________  /_
__  /|_/ /__  / / /_  ___/_  /_  _ \_  __ \  __/
_  /  / / _  /_/ /_  /   _  / /  __/  / / / /_  
/_/  /_/  _\__, / /_/    /_/  \___//_/ /_/\__/  
          /____/                                
                                Settings
        </pre>
        <p>Under Construction.</p>
    </div>
</div>